body, html {
  background-image: url('/src/images/mosaic.png');
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  color: rgb(215, 216, 216);
  margin: 10px;
}

h2 {
  margin: auto;
  font-size: xxx-large;
}

.user-info {
  display: flex;
  color: rgb(215, 216, 216);
  margin: 5px;
}


.user-data {
  display: flex;
  flex-wrap: wrap;
}


.hydration-avg-day {
  border: solid black 2px;
  border-radius: 10px;
  margin: 5px;
  height: 200px;
  background: rgb(210, 210, 210);
}

.hydration-avg-week {
  border: solid Black 2px;
  margin: 5px;
  /* background: white;
  height: 200px;
  width: 400px; */
}

.sleep-hours-last-day {
  border: solid Black 2px;
  margin: 5px;
  /* background: white;
  height: 200px; */
  /* width: 150px; */
}

.sleep-quality-last-day {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 150px; */
}

.sleep-hours-last-week {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 400px; */
}

.sleep-quality-last-week {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 400px; */
}

.sleep-hours-all-time {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 150px; */
}

.sleep-quality-all-time {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 150px; */
}

.num-steps-last-day {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 400px; */
}

.num-active-last-day {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 150px; */
}

.distance-walked-last-day {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 150px; */
}

.num-steps-week {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 400px; */
}

.num-active-week {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 150px; */
}

.num-stairs-climbed-week {
  border: solid Black 2px;
  margin: 5px;
  /* background: white; */
  /* height: 150px;
  width: 150px; */
}
