body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.user-data {
  display: flex;
  flex-wrap: wrap;
}

.user-info-display {
  border: solid Black 2px;
  margin: 5px;
  background: white;
}

.hydration-avg-day {
  border: solid Black 2px;
  margin: 5px;
  background: white;
  /* height: 150px;
  width: 150px; */
}

.hydration-avg-week {
  border: solid Black 2px;
  margin: 5px;
  background: white;
  /* height: 150px;
  width: 400px; */
}

.sleep-hours-last-day {
  border: solid Black 2px;
  margin: 5px;
  background: white;
  /* height: 150px;
  width: 150px; */
}

.sleep-quality-last-day {
  border: solid Black 2px;
  margin: 5px;
  background: white;
  /* height: 150px;
  width: 150px; */
}

.sleep-hours-last-week {
  border: solid Black 2px;
  margin: 5px;
  background: white;
  /* height: 150px;
  width: 400px; */
}

.sleep-quality-last-week {
  border: solid Black 2px;
  margin: 5px;
  background: white;
  /* height: 150px;
  width: 400px; */
}

.sleep-hours-all-time {
  border: solid Black 2px;
  margin: 5px;
  background: white;
  /* height: 150px;
  width: 150px; */
}

.sleep-quality-all-time {
  border: solid Black 2px;
  margin: 5px;
  background: white;
  /* height: 150px;
  width: 150px; */
}
